<h1>List of Artists</h1>

<ul>
    <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_path(artist) %>
        <span><%= pluralize(artist.song_count, 'song') %></span>
    </li>
    <% end %>
</ul>