<h1> <%= @artist.name %>

<h3> <%= pluralize(@artist.songs.count, 'Song') %> </h3>
<h3> <%= @artist.songs.count %> Song</h3>
<ul>
    <% @artist.songs.each do |s| %>
        <h4> Song: </h4>
        <li><%= link_to s.title, song_path(s) %> </li>
        
    <% end %>
</ul>