<h1>Artist Name: <%= @artist.name %></h1><br>
<h3>Number of Songs: <%= @artist.song_count %> </h3>
<h2>Songs:</h2>
<ul>
<% @artist.songs.each do |song| %>
<li><%= link_to song.title, song_path(song) %></li>
<% end %>
</ul>