<h1><%= @artist.name %> Songs</h1>
<h3><%= pluralize(@artist.song_count, 'song') %></h3>

<ul>
<% @artist.songs.all.each do |song| %>
    <li><%= link_to song.title, song_path(song) if song.title %></li>
<% end %>
</ul>