<h1>Songs</h1>

<ul>
  <% @songs.each do |song| %>
    <li>
      <%= link_to(song) do %>
      <strong><%= song.artist_name %></strong> - <span><%= song.title %></span>
      <% end %>
    </li>
  <% end %>
</ul>