<h1>Songs list</h1>

<ul>
    <% @songs.each do |song| %>
    <li> 
        <a href=" <%= song_path(song) %>">
            <h2> <%= song.artist_name %>
            -
            <%= song.title %> </h2>
        </a>
    </li> 
  
    <% end %>   
</ul>

